.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
  
  }
  
  .modal {
    position: fixed;
    top: 10vh;
    left: 10%;
    width: 80%;
    z-index: 100;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 900px;
    height:80vh;
  }
  
  .header {
    background: #2065D1;
    padding: 1rem;
  }
  
  .header h2 {
    margin: 0;
    color: white;
  }
  
  .body {
    padding: 1rem;
    background:white;
  
  }
  .body form{
    display: flex;
    flex-direction: column;
  }
  
  @media (min-width: 768px) {
    .modal {
      left: calc(50% - 20rem);
      width: 40rem;
    }
  }
  
  .buttons{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
  }